/* Just using the lessc app.less > app.css compile command for now */

@available-sections-width: 200px;

html.medlr {
    background: black;
    color: #fff;

    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    height: auto;
    body {
        
        min-height: 400px;
        padding: 10px 30px;

        &.available-segments-open {
            
        }

        header {
            width: 100%;
            display: block;
            #logo {
                display: inline;
            }
            h1 {
                font-size: 30px;
                font-weight: bold;
                padding-bototm: 10px;
                display: inline;
            }
        }

        h1, h2 {
            color: #ff20bd;
            margin: 10px;
            padding: 0;
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        hr, h2 {
            float: left;
            width: 100%;
            clear: both;
        }

        p {
           &#medlr-sing-now {
                text-align: right;
                float: left;
                width: 100%;
                border: 2px dotted #e1e1e1;
                border-left: 0;
                border-right: 0;
                padding: 6px 0 15px 0;
                margin: 20px 0;
           } 
        }
        
        ul.medlr-segments {
            min-height: 70px;
            margin: 0;
            padding: 0;
            float: left; 
            clear: both;

            &#medlr-timeline {
                border: 2px dashed #e1e1e1;
                float: left; 
                width: 450px;
            }

            li {
                padding: 5px;
                width: 160px;
                margin: 0 5px 5px 0;
                border-radius: 3px;
                float: left;
                list-style: none;
                min-height: 70px;
                font-size: 12px;
                line-height: 1;
                cursor: move;

                &.ui-sortable-placeholder {
                    display: none;
                }

                h3, h4, p {
                    line-height: 1;
                }
                h3 {
                    margin: 5px 0 0 0;
                    padding: 0;
                    font-size: 14px;
                }
                h4 {
                    margin: 0 0 2px 0;
                    padding: 0;
                }
                p {
                    margin: 2px;
                    padding: 0;
                }

                &.intro {
                    background: #39acef;
                    border: 1px solid #06799f;
                }
                &.chorus {
                    background: #ff9840;
                    border: 1px solid #ff6690;
                }
                &.verse {
                    background: #39e639;
                    border: 1px solid #00CC00;
                }
                &.outro {
                    background: #ff7373;
                    border: 1px solid #ff4040;
                }
                &.sang {
                    opacity: 0.5;
                }
                &.active {
                    background: red;
                    border: 1px solid red;
                }
            }
        }

        #timeline-container {
            float: left;
            width: 450px;
        }

        #available-segments-container {
            width: 450px;
            padding-top: 30px;
            
            height: 400px;
            overflow: auto;

            h2, ul {
                float: none;
                margin:0;
            }
            ul {
                //display: none;
                margin-left: 10px;
            }
        }

        #player {
            width: 406px;
            background: #1f1f1f;
            float: right;
            border-radius: 6px;
            padding: 10px;

            h2 {
                padding-left: 0;
                margin-left: 0;
            }
            
            #video-container {
                height: 220px;
                border-radius: 6px;
                overflow: hidden;
                border: 3px solid #ff20bd;
                position: relative;
                background: black;

                video {
                    border-radius: 6px;
                    margin: -90px 0;
                    // position absolute for layered crossfade
                    position: absolute;
                    left: 0;
                    top: 0;

                }
            }
        }
    }
}
