<html ng-app="medlrApp" class="medlr">
<head>
  <title>Medlr</title>
  <link rel="StyleSheet" href="css/app.css" type="text/css"/>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>

  <script src="js/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
  <script src="js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

</head>
<body ng-controller="SegmentListCtrl" class="available-segments-open">
  <header>
    <img src="img/logo.png" id="logo" alt="Logo" />
    <h1>Medlr</h1>
  </header>

  <div id="timeline-container">
    <h2>Timeline</h2>
    <ul class="medlr-segments" id="medlr-timeline">
      <li ng-repeat="segment in segments" class="{{ segment.description }}" data-segment-id="{{ segment.id }}"
        style="width:{{ (segment.end_time - segment.start_time) * 10 }}px"
      >
        <h3>{{ getSongObjectFromId(segment.songId).title }}</h3>
        <h4>{{ getSongObjectFromId(segment.songId).artist }}</h4>
        <p>
            <strong>{{ segment.description }}</strong><br />
            {{ segment.start_time }}:{{ segment.end_time }} ({{ segment.end_time - segment.start_time }}sec)
        </p>
        <p>{{segment.snippet}}</p>
      </li>
    </ul>
  </div>

  <div id="player">
    <h2>Preview</h2>
    <p>
      <a class="btn" id="medlr-save" ng-click="singNowClicked()">Sing now!</a> | 
      <a class="btn" id="medlr-pause" ng-click="pauseClicked()">{{pauseButtonText}}</a> |
      <a class="btn" id="medlr-next" ng-click="playNext()">Skip segment</a>
    </p>
    <div id="video-container">
    <video width="400" height="400">
      <source src="" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    </div>
  </div>
  
  <div id="available-segments-container">
    <h2 ng-click="toggleAvailableSegments()">Available segments</h2>
    <ul class="medlr-segments" id="medlr-segment-list">
      <li ng-repeat="segment in segments" class="{{ segment.description }}" data-segment-id="{{ segment.id }}">
        <h3>{{ getSongObjectFromId(segment.songId).title }}</h3>
        <h4>{{ getSongObjectFromId(segment.songId).artist }}</h4>
        <p>
            <strong>{{ segment.description }}</strong><br />
            {{ segment.start_time }}:{{ segment.end_time }} ({{ segment.start_time + segment.end_time }}sec)
        </p>
        <p>{{segment.snippet}}</p>
      </li>
    </ul>
  </div>

</body>
</html>